// ----- Colors -----
// Primary
$background: hsl(185, 75%, 39%);
$darkText: hsl(229, 23%, 23%);
$lightText: hsl(227, 10%, 46%);
// Neutral
$line: hsl(0, 0%, 87%);

// Global
//Set default browser box sizing, margin and padding
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//Set default pixel size to 10 for easier rem usage
html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
// Global Typography Styles

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $darkText;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: $lightText;
}
span {
  color: $lightText;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: $lightText;
}
hr {
  background-color: $line;
  height: 1px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  background: url("../assets/images/bg-pattern-top.svg"),
    url("../assets/images/bg-pattern-bottom.svg"), $background;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left -300px top -500px, right -300px bottom -500px;
  display: grid;
  place-items: center;
}
.card {
  min-height: 425px;
  min-width: 375px;
  background: white;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 2fr 2fr 1.1fr;
  overflow: hidden;
  .top {
    background: url("../assets/images/bg-pattern-card.svg");
  }
  .middle {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    img {
      position: absolute;
      top: -40%;
      left: 50%;
      transform: translateX(-50%);
      width: 35%;
      border-radius: 100%;
      border: solid white 5px;
    }
    .middleText {
      grid-row-start: 2;
      h2 {
        padding-bottom: 1rem;
      }
    }
  }
  .bottom {
    border-top: solid $line;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    place-items: center;
    text-align: center;
    .followers {
      grid-column-start: 2;
    }
    h2 {
      padding-bottom: 0.5rem;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1280px) {
  main {
    background-size: 80%;
  }
}
@media screen and (max-width: 1100px) {
  main {
    background-size: 85%;
  }
}
@media screen and (max-width: 950px) {
  main {
    background-size: 90%;
  }
}

@media screen and (max-width: 800px) {
  main {
    background-size: 100%;
  }
}

@media screen and (max-width: 650px) {
  main {
    background-size: 125%;
  }
}

@media screen and (max-width: 400px) {
  main {
    background-size: 200%;
    background-position: left -500px top -450px, right -500px bottom -450px;
  }

  .card {
    min-height: 375px;
    min-width: 325px;
  }
}
